# https://github.com/github/gitignore/blob/4488915eec0b3a45b5c63ead28f286819c0917de/Global/MicrosoftOffice.gitignore {
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
# }
