[submodule "tools"]
	path = tools
	url = https://github.com/polyipseity/notes-tools.git
	branch = main
[submodule "private"]
	path = private
	url = ../notes-private.git
	branch = main
[submodule "obsidian-terminal"]
	path = .obsidian/plugins/terminal
	url = https://github.com/polyipseity/obsidian-terminal.git
	branch = main
