[submodule "arts"]
	path = self/arts
	url = ../information-arts.git
	branch = main
[submodule "dglOpenGL/2a208939-b8f0-46dd-a054-7ed4ede546ff"]
	path = self/academia/computer science/secondary 3/IndividualProgrammingProject/shaded/dglOpenGL
	url = https://github.com/SaschaWillems/dglOpenGL.git
	branch = master
[submodule "ledger"]
	path = self/ledger
	url = ../information-ledger.git
	branch = main
[submodule "passwords"]
	path = self/passwords
	url = ../information-passwords.git
	branch = main
[submodule "private"]
	path = private
	url = ../information-private.git
	branch = main
[submodule "pyarchivist"]
	path = tools/pyarchivist
	url = https://github.com/polyipseity/pyarchivist.git
	branch = main
[submodule "pytextgen"]
	path = tools/pytextgen
	url = https://github.com/polyipseity/pytextgen.git
	branch = main
