##########################################
# Python
# https://github.com/github/gitignore/blob/main/Python.gitignore
##########################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# (trimmed)

##########################################
# Obsidian
##########################################
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.trash/

##########################################
# Visual Studio Code
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
##########################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
