[submodule "private"]
	path = private
	url = ../notes-private.git
	branch = forks/polyipseity
[submodule "pytextgen"]
	path = tools/pytextgen
	url = https://github.com/polyipseity/pytextgen.git
	branch = main
