# Compiled Object files
*.slo
*.lo
*.o

# Re-track the .o file from the Driver 
!/RM2024-RDC-Core/Drivers/*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.elf
*.bin
*.hex
*.lst
*.rd
*.mapf

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.user
*.jdebug.user
*.jdebug

# Dependency files
*.d

# Text editor configuration
.idea/
.vscode/
.settings/
*.sublime-workspace

# Patch cache
*.orig

# Build directory
build/
compile_commands.json
.ccls-cache
.vagrant

# cubeMX files
.mxproject
.project

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific files
venv
node_modules
.sass-cache

# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
